html {
  height: 100%;
  overflow-y: scroll;
}
body {
  color: #110000;
  font-family: "Lato";
  height: 100%;
}

.jp-controls {
  box-sizing: content-box;
}

#content {
  padding-top:0px;
}

.container {
  height: 100%;
}

.item img{
}

.item a{
}

.item-x2 {
  width: 400px;
}

.item-x3 {
  width: 600px;
}

.item img {
  width:200px;
}

.album-title {
  font-style:italic;
}

.track-title {
  font-weight:bold;
  color:#CF7C29;
}

.autocomplete-suggestion {
  background-color:#f8f8f8;
  border: 1px solid #e7e7e7;
}

.autocomplete-selected {
  background-color:#e7e7e7;
  border: 1px solid #f8f8f8;
  font-weight:bold;
}

.playlist {
  text-align:center;
  min-width:150px;
  min-height:100px;
  border-radius:5px;
  padding: 15px;
}

.sp-top-sm {
  margin-top: 2em;
}

.sp-top-xl {
  margin-top: 6em;
}

.sp-bottom-sm {
  margin-bottom: 2em;
}

.row.no-pad {
    margin-right:0;
      margin-left:0;
}
.row.no-pad > [class*='col-'] {
    padding-right:0;
      padding-left:0;
}

.summary {
  padding: 1em;
  background-color:#e7e7e7;
  border-radius: 1em;
}

canvas {
  width: 1020px;
  height: 260px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: -15px;
  margin-bottom: -3px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.full {
  max-height: 100%;
  max-width: 100%;
}
.nav img {
  height: 100px;
}

.rotate-1{
}

.rotate-2 {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rotate-3 {
  transform: rotate(180deg);
}

.rotate-4 {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.rotate-5 {
  -moz-transform: scaleX(-1) rotate(90deg);
  -ms-filter: "FlipH";
  -o-transform: scaleX(-1) rotate(90deg);
  -webkit-transform: scaleX(-1) rotate(90deg);
  transform: scaleX(-1) rotate(90deg);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

.rotate-6 {
  -webkit-transform: translateY(-100%) rotate(90deg);
  -moz-transform: translateY(-100%) rotate(90deg);
  -ms-transform: translateY(-100%) rotate(90deg);
  -o-transform: translateY(-100%) rotate(90deg);
  transform: translateY(-100%) rotate(90deg);
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.rotate-7 {
  -moz-transform: scaleX(-1) rotate(270deg);
  -o-transform: scaleX(-1) rotate(270deg);
  -webkit-transform: scaleX(-1) rotate(270deg);
  transform: scaleX(-1) rotate(270deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rotate-8 {
  -webkit-transform: translateX(-100%) rotate(270deg); /* Safari */
  -moz-transform: translateX(-100%) rotate(270deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateX(-100%) rotate(270deg); /* IE9 */
  -o-transform: translateX(-100%) rotate(270deg); /* Opera */
  transform: translateX(-100%) rotate(270deg); /* W3C */
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.sp-top-sm {
  margin-top: 2em;
}

.sp-top-xl {
  margin-top: 6em;
}

.sp-bottom-sm {
  margin-bottom: 1em;
}

#wrap {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top: 20px;
}

.faded {
  opacity: 0.2;
}
