html {
  height: 100%;
  overflow-y: scroll;
}
body {
  color: #110000;
  font-family: "Lato";
  height: 100%;
}

#content {
  padding-top:0px;
}

.rotate-1{
}

.rotate-2 {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rotate-3 {
  transform: rotate(180deg);
}

.rotate-4 {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.rotate-5 {
  -moz-transform: scaleX(-1) rotate(90deg);
  -ms-filter: "FlipH";
  -o-transform: scaleX(-1) rotate(90deg);
  -webkit-transform: scaleX(-1) rotate(90deg);
  transform: scaleX(-1) rotate(90deg);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}

.rotate-6 {
  -webkit-transform: translateY(-100%) rotate(90deg);
  -moz-transform: translateY(-100%) rotate(90deg);
  -ms-transform: translateY(-100%) rotate(90deg);
  -o-transform: translateY(-100%) rotate(90deg);
  transform: translateY(-100%) rotate(90deg);
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.rotate-7 {
  -webkit-transform: translateX(-100%) translateY(-100%) scaleX(-1) rotate(270deg);
  -moz-transform: translateX(-100%) translateY(-100%) scaleX(-1) rotate(270deg);
  -ms-transform: translateX(-100%) translateY(-100%) scaleX(-1) rotate(270deg);
  -o-transform: translateX(-100%) translateY(-100%) scaleX(-1) rotate(270deg);
  transform: translateX(-100%) translateY(-100%) scaleX(-1) rotate(270deg);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
}

.rotate-8 {
  -webkit-transform: translateX(-100%) rotate(270deg); /* Safari */
  -moz-transform: translateX(-100%) rotate(270deg); /* Firefox 3.6 Firefox 4 */
  -ms-transform: translateX(-100%) rotate(270deg); /* IE9 */
  -o-transform: translateX(-100%) rotate(270deg); /* Opera */
  transform: translateX(-100%) rotate(270deg); /* W3C */
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.sp-bottom-sm {
  margin-bottom: 1em;
}

.footer {
  position: relative;
  height: 150px;
  clear: both;
  padding-top: 20px;
}

.faded {
  opacity: 0.2;
}

.img-center {
  margin: 0 auto;
}

.video-thumbnail {
  outline-style: outset;
}

.grid-sizer,
.grid-item { 
  width: 30%;
}

.grid-item--width2 {
  width: 40%;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-1, 
.center-2,
.center-3,
.center-4 {
  /*max-height: 75vh;*/
  max-width: 100%;
  margin: auto;
}

.center-5, 
.center-6,
.center-7,
.center-8 {
  /*max-height: 50vh;*/
  max-width: 100vw;
  margin: auto;
}

#wrap {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 150px;
}

.livephoto {
  position: relative;
  width: 960px; /* Adjust size as needed */
  height: 720px; /* Adjust size as needed */
  overflow: hidden;
}

.livephoto > photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.livephoto > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}


.video {
  position: relative;
  width: 960px; /* Adjust size as needed */
  height: 720px; /* Adjust size as needed */
  overflow: hidden;
}

