-if photos.respond_to? :page_count
  =haml :"partials/paging", locals: {model: photos, base: base}
#photos
  -photos.each_with_index do |photo, i|
    =haml :"partials/photo", locals: {base: base, photo: photo, idx: i}.merge(symbolize_keys(params))
