-if assets.respond_to? :page_count
  =haml :"partials/paging", locals: {model: assets, base: base}
#photos
  -assets.each_with_index do |asset, i|
    =haml :"partials/photo", locals: {base: base, photo: asset.photo, idx: i}.merge(symbolize_keys(params))
