-if pfiles.respond_to? :page_count
  =haml :"partials/paging", locals: {model: pfiles, base: base}
#photos
  -pfiles.each_with_index do |pfile, i|
    =haml :"partials/photo", locals: {base: base, photo: pfile.photo, idx: i}.merge(symbolize_keys(params))
