-if assets.respond_to? :page_count
  =haml :"partials/paging", locals: {model: assets, base: base}
#photos
  -assets.each_with_index do |asset, i|
    -if asset.type == 'photo'
      =haml :"partials/photo", locals: {base: base, asset: asset, idx: i}.merge(symbolize_keys(params))
    -elsif asset.video_id
      =haml :"partials/video", locals: {base: base, asset: asset, idx: i}.merge(symbolize_keys(params))
