%form{method: 'GET', action: '/photos'}
  -byebug
  %input#start_date.date{type: "TEXT", name: "start_date", value: "#{start_date}"}
  %input#end_date.date{type: "TEXT", name: "end_date", value: "#{end_date}"}
  %button{type: "Submit", value: "search"}
    Search
:javascript
  $(".date").datepicker({
    format: "yyyy-mm-dd"
  });
