.img
  %img{src: "#{url_for("/img/black_hole.jpg")}", width: '60%'}
%h2
  But we've learned the rules aren't fixed ... 
%h2
  Information can flow out of the blackhole...
%a.btn.btn-success{href: "#{url_for("/rebecca/40")}"}
  Click Me!
