.img
  %img{src: "#{url_for("/img/black_hole.jpg")}", width: '60%'}
%h2
  But this year... I decided physics must be reversed... Information must flow out of the blackhole...
%h2
  It's still a work in progress, but I think this should give us access to all the digital pictures and videos
  we've created over the past 
%h1
  14 years!
%a.btn.btn-success{href: "#{url_for("/rebecca/5")}"}
  Click Me!
