%form{method: "POST", action: "#{url_for("/login")}"}
  .input-group.mb-3
    .input-group-prepend
      .input-group-text#basic-addon1
        Username
    %input.form-control{type:"text", name:"username", id:"username", placeholder: "Username", aria:{"label":"Username", describedby:"basic-addon1"}}
  .input-group.mb-3
    .input-group-prepend
      .input-group-text
        Password
    %input.form-control{type:"password", name:"password", id:"password", placeholder: "Password"}
  %button.btn.btn-primary.mb-2{type:"submit"}
    Login


:javascript
