-div = Math.log(summary.map{|x| x[:count]}.max)
-summary.each do |s|
  %h2
    %a{href:"#{s[:link]}"}
      =s[key]
  -(s[:count]/10*div).ceil.times do
    &#x25a0;&#x25a0;&#x25a0;&#x25a0;&#x25a0;
    
