-div = Math.log(summary.map{|x| x[:count]}.max)
-div = 1 if div == 0
%h1
  =title
-summary.each do |s|
  %h2
    %a{href:"#{url_for(s[:link])}"}
      -if key == :month
        =Date::MONTHNAMES[s[key]]
      -else
        =s[key]
  -(s[:count]/(10.0*div)).ceil.times do
    &#x25a0;
    
